# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# Arduino build artifacts
*.elf
*.hex
*.map

# Build output
build/
dist/
out/
